<h1>Hello</h1>

<form action="answer" data-turbo="false" method="get">
  <label for="text">Type your question here</label>
  <input type="text" name="submission" id="text" placeholder="Thing">
  <input type="submit" value="Ask!">
</form>
